---
layout: default
---
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-8">
			<h3 class="title with-icon"><span class="fa fa-photo cat-title"></span>Profile Overview</h3>
            <div class="grid-block">
				<a href="/assets/img/overview.svg"><img src="/assets/img/overview.svg" width="100%" /></a>
            </div>
			<div class="deviter"></div>
				
            {% if site.posts %}
                <h3 class="title with-icon"><span class="fa fa-history cat-title"></span>Work and Research Experience</h3>
                <ul class="timeline">
                    {% for work in site.posts %}
                        <li class="timeline-inverted">
                            {% if work.started %}
                                <div class="timeline-badge info">{{ work.started }}</div>
                            {% endif %}
                            <div class="timeline-panel grid-block">
                                <div class="timeline-heading">
                                    {% if work.title %}
                                        <h4 class="timeline-title">{{ work.title }} </h4>
                                    {% endif %}
                                    <p>
                                        <small class="text-muted">
                                            {% if work.company %}
                                                {{ work.company }}
                                            {% endif %}
                                        </small>
                                    </p>
									{% if work.website %}
									<p>
                                        <small class="text-muted">
                                            {% if work.website %}
                                                <a href="{{ work.website }}" target="_blank">{{ work.website }}</a>
                                            {% endif %}
                                        </small>
                                    </p>
									{% endif %}
                                    <p>
                                        <small class="text-muted">
                                            {% if work.duration %}
                                                <i class="fa fa-calendar"></i> {{ work.duration }} |
                                            {% endif %}
                                            {% if work.location %}
                                                <i class="fa fa-map-marker"></i>  {{ work.location }}
                                            {% endif %}
                                        </small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    {% if work.description %}
                                        <p>{{ work.description }}</p> 
                                    {% endif %}
                                </div>
								<p>
									<small class="text-muted">
										{% if work.keywords %}
											<b><a href="{{ work.url }}" target="_blank">[Read details about this experience]</a></b>
											<br/><br/><u>Keywords:</u> {{ work.keywords }}
										{% endif %}
									</small>
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            
        </div>
        <div class="col-md-4">
            
            {% if site.data.skills.programmingSkills %}
                <h3 class="title with-icon"><span class="fa fa-code cat-title"></span> Programming Skills</h3>
                <div class="grid-block">
                    <ul class="list-unstyled list-skills">
                        {% for programmingSkill in site.data.skills.programmingSkills %}
                            <li>
                                {% if programmingSkill.name %}
                                    <span class="caption-skill">{{ programmingSkill.name }}</span>
                                {% endif %}
                                {% if programmingSkill.percentage %}
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ programmingSkill.percentage }}">
                                            <span>{{ programmingSkill.percentage }} </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
			
			{% if site.data.skills.processSkills %}
                <h3 class="title with-icon"><span class="fa  fa-dashboard cat-title"></span> Process and People Skills</h3>
                <div class="grid-block">
                    <ul class="list-unstyled list-skills">
                        {% for skill in site.data.skills.processSkills %}
                            <li>
                                {% if skill.name %}
                                    <span class="caption-skill">{{ skill.name }}</span>
                                {% endif %}
                                {% if skill.percentage %}
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ skill.percentage }}">
                                            <span>{{ skill.percentage }} </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
			
			{% if site.data.skills.systemSkills %}
                <h3 class="title with-icon"><span class="fa  fa-cog cat-title"></span> System Skills</h3>
                <div class="grid-block">
                    <ul class="list-unstyled list-skills">
                        {% for skill in site.data.skills.systemSkills %}
                            <li>
                                {% if skill.name %}
                                    <span class="caption-skill">{{ skill.name }}</span>
                                {% endif %}
                                {% if skill.percentage %}
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ skill.percentage }}">
                                            <span>{{ skill.percentage }} </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
			
			{% if site.data.skills.otherSkills %}
                <h3 class="title with-icon"><span class="fa fa-share cat-title"></span> Other Skills</h3>
                <div class="grid-block">
                    <ul class="list-unstyled list-skills">
                        {% for skill in site.data.skills.otherSkills %}
                            <li>
                                {% if skill.name %}
                                    <span class="caption-skill">{{ skill.name }}</span>
                                {% endif %}
                                {% if skill.percentage %}
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ skill.percentage }}">
                                            <span>{{ skill.percentage }} </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
			
            {% if site.data.skills.languageSkills %}
                <div class="deviter"></div>
                <h3 class="title with-icon"><span class="fa fa-globe cat-title"></span> Language Skills</h3>
                <div class="grid-block">
                    <ul class="list-unstyled list-strip">
                        {% for language in site.data.skills.languageSkills %}
                            {% if language.name %}
                                {% if language.proficiency %}
                                    <li>
                                        <i class="fa fa-check"></i> <span class="badge badge-green badge-right-float">{{ language.proficiency }}</span>{{ language.name }}
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
			
			<div class="deviter"></div>
			
			{% if site.data.education.courseHistory %}
                <h3 class="title with-icon"><span class="fa fa-certificate cat-title"></span> Courses and Certificates</h3>
                <div class="grid-block">
                    <ul class="list-unstyled list-skills">
                        {% for course in site.data.education.courseHistory %}
                            <li>
                                {% if course.title %}
                                    <span class="caption-skill">{{ course.title }}</span>
                                {% endif %}
                                {% if course.duration %}
                                    <p>
                                        <small class="text-muted">
                                            {% if course.entity %}
                                                {{ course.entity }} | 
                                            {% endif %}
											<i class="fa fa-calendar"></i> {{ course.duration }}
                                        </small>
                                    </p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
			
			{% if site.data.education.educationHistory %}
                <h3 class="title with-icon"><span class="fa fa-book cat-title"></span>Education History</h3>
                <ul class="timeline">
                    {% for education in site.data.education.educationHistory %}
                        <li class="timeline-inverted">
                            {% if education.started %}
                                <div class="timeline-badge info">{{ education.started }}</div>
                            {% endif %}
                            <div class="timeline-panel grid-block">
                                <div class="timeline-heading">
                                    {% if education.organization %}
                                        <h4 class="timeline-title">{{ education.organization }}</h4>
                                    {% endif %}
                                    <p>
                                        <small class="text-muted">
                                            {% if education.degree %}
                                                {{ education.degree }}
                                            {% endif %}
                                            {% if education.major %}
                                                , {{ education.major }}
                                            {% endif %}
                                        </small>
                                    </p>
                                    {% if education.duration %}
                                        <p>
                                            <small class="text-muted"><i class="fa fa-calendar"></i> {{ education.duration }}
                                            </small>
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="timeline-body">
                                    {% if education.description %}
                                        <p>{{ education.description }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
			
			{% if site.data.education.eventHistory %}
                <h3 class="title with-icon"><span class="fa  fa-angle-double-right cat-title"></span> Other Personal Accomplishments </h3>
                <div class="grid-block">
                    <ul class="list-unstyled list-skills">
                        {% for event in site.data.education.eventHistory %}
                            <li>
                                {% if event.what %}
                                    <span class="caption-skill">{{ event.what }}</span>
                                {% endif %}
                                {% if event.when %}
                                    <p>
                                        <small class="text-muted">
                                            {% if event.who %}
                                                {{ event.who }} <br/>
                                            {% endif %}
											 <i class="fa fa-calendar"></i> {{ event.when }}
                                        </small>
                                    </p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
			
            <div class="deviter"></div>
            <h3 class="title with-icon"><span class="fa fa-location-arrow cat-title"></span> Location</h3>
            <div class="grid-block">
                <iframe src="https://www.google.com/maps/embed/v1/place?q={{ site.author.address }}&key=AIzaSyClEWLh20lxrQBFR7omuuVESviszPxONyk" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
</div>
