<div class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-6 col-md-4">
                <a href="/"><img src="{{ site.author.gavatar }}" title="Matheus" alt="Hi there!"></a>
                <h4><a href="/">{{ site.author.name }}</a></h4>
                <p>{{ site.author.title }}</p>
                <p class="muted">{{ site.author.address }}</p>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-4 visible-md-block visible-lg-block">
                <p><i class="fa fa-github fa-fw"></i><a href="https://github.com/{{ site.author.github }}" target="_blank">  @{{ site.author.github }} </a></p>
                <p><i class="fa fa-linkedin-square fa-fw"></i> <a href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank"> linkedin.com/in/{{ site.author.linkedin }} </a></p>
                <p><i class="fa fa-power-off fa-fw"></i> <a href="https://leetcode.com/u/{{ site.author.leetcode }}" target="_blank"> leetcode.com/u/{{ site.author.linkedin }} </a></p>
            </div>
            <a href="/"><img style="border:unset; float: right; height:48px" src="/assets/img/vegan.svg" title="Vegan" alt="I'm vegan!"></a>
        </div>
    </div>
</div>
