<div class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-4">
                <a href="/"><img src="/assets/img/avatar.JPG" title="Matheus" alt="Hi there!"></a>
                <h4><a href="/">{{ site.author.name }}</a></h4>
                <p>{{ site.author.title }}</p>
                <p class="muted">{{ site.author.address }}</p>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-4 visible-md-block visible-lg-block visible-sm-block">
                <p><i class="fa fa-github fa-fw"></i><a href="https://github.com/{{ site.author.github }}" target="_blank">  @{{ site.author.github }} </a></p>
                <p><i class="fa fa-linkedin-square fa-fw"></i> <a href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank"> linkedin.com/in/{{ site.author.linkedin }} </a></p>
                <!--<p><i class="fa fa-twitter fa-fw"></i> <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">  @{{ site.author.twitter }} </a></p>-->
				<p><i class="fa fa-xing fa-fw"></i> <a href="https://www.xing.com/profile/{{ site.author.xing }}" target="_blank">  xing.com/profile/{{ site.author.xing }} </a></p>
				<p><i class="fa fa-skype fa-fw"></i> <a href="skype:{{ site.author.skype }}" target="_blank">  {{ site.author.skype }} </a></p>
			</div>
            <div class="col-sm-4 visible-md-block visible-lg-block">
                <a onclick="javascript:window.open('/print.html','_blank')" class="btn btn-dark"><i class="icon-file icon-white"></i>Print a plain version</a>
				<small class="text-muted">
					<br/>(Chrome is recommended)
				</small>
            </div>
        </div>
    </div>
</div>