---
layout: default
---
<div class="post">

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-8">
                <h3 class="title with-icon"><span class="fa fa-group cat-title"></span>{{ page.company }}</h3>
                <ul class="timeline">
                        <li class="timeline-inverted">
                            {% if page.started %}
                                <div class="timeline-badge info">{{ page.started }}</div>
                            {% endif %}
                            <div class="timeline-panel grid-block">
                                <div class="timeline-heading">
                                    {% if page.title %}
                                        <h4 class="timeline-title">{{ page.title }} </h4>
                                    {% endif %}
                                    {% if page.website %}
									<p>
                                        <small class="text-muted">
                                            {% if page.website %}
                                                <a href="{{ work.website }}" target="_blank">{{ page.website }}</a>
                                            {% endif %}
                                        </small>
                                    </p>
									{% endif %}
                                    <p>
                                        <small class="text-muted">
                                            {% if page.duration %}
                                                <i class="fa fa-calendar"></i> {{ page.duration }} |
                                            {% endif %}
                                            {% if page.location %}
                                                <i class="fa fa-map-marker"></i>  {{ page.location }}
                                            {% endif %}
                                        </small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    {% if content %}
                                        <p>{{ content }}</p> 
                                    {% endif %}
                                </div>
								<p>
									<small class="text-muted">
										{% if page.keywords %}
											<br/><br/><u>Keywords:</u> {{ page.keywords }}
										{% endif %}
									</small>
                                </p>
                            </div>
                        </li>
                </ul>
        </div>
        <div class="col-md-4">
            {% if page.skills %}
                <h3 class="title with-icon"><span class="fa fa-code cat-title"></span>Work Share</h3>
                <div class="grid-block">
                    <ul class="list-unstyled list-skills">
                        {% for skill in page.skills %}
                            <li>
                                {% if skill.name %}
                                    <span class="caption-skill">{{ skill.name }}</span>
                                {% endif %}
                                {% if skill.share %}
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ skill.share }}">
                                            <span>{{ skill.share }} </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="deviter"></div>
            {% endif %}
            {% if page.languages %}
                <h3 class="title with-icon"><span class="fa fa-globe cat-title"></span>Languages Used</h3>
                <div class="grid-block">
                    <ul class="list-unstyled list-strip">
                        {% for language in page.languages %}
							<li>
								<i class="fa fa-check"></i> {{ language }}
							</li>
                        {% endfor %}
                    </ul>
                </div>
            <div class="deviter"></div>
            {% endif %}
            <h3 class="title with-icon"><span class="fa fa-location-arrow cat-title"></span> Location</h3>
            <div class="grid-block">
                <iframe src="https://www.google.com/maps/embed/v1/place?q={{ page.location }}&key=AIzaSyClEWLh20lxrQBFR7omuuVESviszPxONyk" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
</div>

</div>
